.wakingUp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--see-through);
}

.wakingUp div {
    margin: 20px 0;
}

.loadingIcon {
    height: 100px;
    width: 100px;
}

.firstCircle {
    width: 100px;
    margin: 0;
    padding: 0;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--the-black);
    border-top: 5px solid var(--the-blue);
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loadingText {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: white;
}