.logoTitleIcons {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bannerLogo {
    margin: 0 10px;
    padding: 10px;
}

.iconsContainer {
    width: 15%;
    height: 100px;
    max-width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cartOverlay {
    height: 50%;
    position: relative;
    width: 50%;
    text-align: center;
}

.icon {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0;
}

.desktopNav {
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'HipHopper';
    font-size: 22px;
}

.desktopNav > a {
    transition: .2s;
}

.desktopNav > a:focus {
    color: var(--drama-pink);
}

@media(hover:hover) {
    .desktopNav > a:hover {
        color: var(--drama-pink);
    }
}

.navHR {
    width: 90%;
    border: none;
    height: 2px;
    background-color: black;
}

.desktopNav > a {
    text-decoration: none;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .iconsContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}