.icon {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0;
}

.searchBox {
    position: absolute;
    z-index: 100;
    top: 15%;
    right: 50px;
}

.searchBox > input {
    height: 80%;
    width: 250px;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 0;
    border: 2px dashed var(--drama-green);
    outline-color: var(--drama-pink);
    font-family: 'HipHopper';
    outline-style: none;
}

@media only screen and (max-width: 600px) {
    .searchBox > input {
        width: 70vw;
    }
}