.profileContainer {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
}

.profileImage {
    width: 35%;
    border: 3px dashed var(--drama-green);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 65%;
    border: 3px solid var(--drama-green);
    border-left: none;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .8);
}

@media only screen and (max-width: 900px) {
    .profileContainer {
        width: 90%;
        flex-direction: column-reverse;
    }
    .profileImage {
        width: 100%;
        border-top: none;
    }
    .profile {
        width: 100%;
        border-left: 3px solid var(--drama-green);
    }
}   