.form {
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
  border: 3px dashed var(--drama-green);
  background-color: rgba(255, 255, 255, 0.8);
}

.social {
  width: 60%;
  margin: 20px auto 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.declarations {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto 40px;
  border-top: 3px double var(--drama-green);
  border-bottom: 3px double var(--drama-green);
  padding: 10px 20px 20px;
  box-sizing: border-box;
  display: flex;
}

.declarations > div > p {
  color: var(--drama-pink);
}

.declarations > div {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

.rightSide {
  text-align: right;
  border-left: 1px solid var(--drama-green);
}

@media only screen and (max-width: 1025px) {
  .declarations {
    flex-direction: column;
  }
  .declarations > div {
    width: 100%;
  }
  .rightSide {
    text-align: left;
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  .form,
  .social {
    width: 90%;
  }
  .declarations {
    width: 90%;
  }
}
