.form {
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 3px dashed var(--drama-green);
    background-color: rgba(255, 255, 255, .8);
}

.social {
    width: 60%;
    margin: 20px auto 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .form, .social {
        width: 90%;
    }
}   