.FAQContainer {
    width: 70%;
    margin: 40px auto;
}

.question {
    width: 100%;
    border: 3px dashed var(--drama-pink);
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    transition: .4s;
}

@media (hover:hover) {
    .question:hover {
        background-color: rgba(250, 250, 250, .9);
        color: var(--drama-green);
    }
}

.answer {
    width: 100%;
    padding: 20px;
    border: 3px dashed var(--drama-green);
    background-color: rgba(255, 255, 255, .9);
}

@media only screen and (max-width: 600px) {
    .FAQContainer {
        width: 90%;
    }
}   