@font-face {
  font-family: 'HipHopper';
  src: url('../public/fonts/hip_hopper/hip_hopper/@font-face/e28d4e9297e3db1aea3d3142a1e9abe3.woff2') format('woff2'),
      url('../public/fonts/hip_hopper/hip_hopper/@font-face/e28d4e9297e3db1aea3d3142a1e9abe3.woff') format('woff'),
      url('../public/fonts/hip_hopper/hip_hopper/@font-face/e28d4e9297e3db1aea3d3142a1e9abe3.ttf') format('truetype');
}

:root {
  --main-color: black;
  --drama-pink: #e83e97;
  --drama-green: #33a985;
  --drama-yellow: #fabe12;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'HipHopper', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  display: inline;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--drama-green);
  color: var(--drama-yellow);
  font-family: 'HipHopper';
  font-size: 18px;
  transition: .4s;
}

@media (hover:hover) {
  button:hover {
    background-color: var(--drama-yellow);
    color: var(--drama-pink);
  }
}