.homeProductsContainer {
    width: 90%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*background-image: url('../public/images/90scolours3.jpg');*/
    /*background-image: -webkit-image-set(url('./images/background-image.webp') 1x);*/
    background-size: 30%;
    background-position: center;
}

.homeProduct {
    width: 30%;
    margin: 20px 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .homeProductsContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}