.productContain {
    width: 90%;
    margin: 0 auto 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imageContain {
    width: 50%;
}

.image {
    width: 40vw;
    height: 40vw;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textContain {
    border-top: 3px dashed var(--drama-green);
    padding: 20px 0;
    width: 70%;
}

.productPrice {
    margin-bottom: 20px;
}

.checkoutButton {
    margin: 20px 15px;
    color: var(--drama-green);
    box-sizing: border-box;
    font-size: 18px;
}

@media (hover:hover) {
    .checkoutButton:hover {
        color: var(--drama-yellow);
    }
}

@media only screen and (max-width: 600px) {
    .productContain {
        flex-direction: column;
    }
    .imageContain, .description {
        width: 96%;
        margin: 0 auto 20px auto;
    }
    .image {
        width: 80vw;
        height: 80vw;
    }
    .textContain {
        width: 100%;
    }
}  