.termsBody {
    width: 50%;
    margin: 40px auto;
}

.accordOC {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.openedText {
    border: 1px dashed var(--drama-green);
    background-color: rgba(255, 255, 255, .9);
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1025px) {
    .termsBody {
        width: 70%;
    }
}   

@media only screen and (max-width: 600px) {
    .termsBody {
        width: 90%;
    }
}   